<h1>Posts list</h1>

<%= button_to "投稿する", {controller: 'posts', action: 'new'}, {method: :get} %>

<%= flash[:success] %>  
<br>

<% @posts.each do |post| %>
    <span>タイトル: </span> <%= link_to post.title, "posts/#{post.id}" %> 
    <br>
    <span>投稿時間: </span> <%= post.created_at%> 
    <br>
    <br>
<% end %>